# Python
__pycache__/
*.pyc
db.sqlite3

# Virtual environment
venv/

# Django
*.log
staticfiles/

# VS Code
.vscode/

# Windows system files (IMPORTANT)
AppData/
*.bin
*.dll
*.cache

# AMD / GPU junk
AMD/
NVIDIA/